/*
 * nCookie.js (http://nslider.com)
 * Version: 1.17.1
 * Author: niceplugin@gmail.com
 * Author URL: https://github.com/niceplugin/nFrameWork

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Copyright 2017.All Rights reserved by niceplugin@gmail.com
 */

/*
**
** reset css
**
*/
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    line-height: 1.5em
}
::before, ::after {
    box-sizing: border-box
}
html {
    position: absolute;
    width: 100%;
    min-height: 100%;
    font-size: 20px
}
hr {
    margin: 27px 0;
    border: 1px solid #1F1F1F;
}
ul, ol {
    padding-left: 1.6em
}
a:link, a:visited {
    color: #1B69FF;
    text-decoration: none
}
a:hover, a:focus {
    text-decoration: underline
}
a:active {
    color: #E12D00;
}


/* footer */
footer, .footer {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    text-align: center;
}





/*
**
** theme
**
*/


/* red */
button.tm-red, .button.tm-red, .tm-red[type="button"], .tm-red[type="reset"], .tm-red[type="submit"] {
    border: 1px solid #380A00;
    background-color: #E12D00;
}
button.tm-red:hover:not(:disabled):not(:active), .button.tm-red:hover:not(:disabled):not(:active), .tm-red[type="button"]:hover:not(:disabled):not(:active), .tm-red[type="reset"]:hover:not(:disabled):not(:active), .tm-red[type="submit"]:hover:not(:disabled):not(:active) {
    background-color: #FF3300
}
button.tm-red:focus:not(:disabled):not(:active), .button.tm-red:focus:not(:disabled):not(:active), .tm-red[type="button"]:focus:not(:disabled):not(:active), .tm-red[type="reset"]:focus:not(:disabled):not(:active), .tm-red[type="submit"]:focus:not(:disabled):not(:active) {
    background-color: #FF3300
}
button.tm-red:active, .button.tm-red:active, .tm-red[type="button"]:active, .tm-red[type="reset"]:active, .tm-red[type="submit"]:active {
    background-color: #AD2300
}
:checked+.toggle-left.tm-red::before, :checked+.toggle-right.tm-red::before, .tm-red :checked+.radiobox {
    background-color: #E12D00;
}
.tm-red .tabhead {
    border: 1px solid #380A00;
    background-color: #E12D00;
}
.tm-red .tabbody {
    border: 1px solid #380A00;
}
.tm-red .tabhead:not(.selected):hover {
    background-color: #FF3300;
}
.tm-red.acchead {
    border: 1px solid #380A00;
    background-color: #E12D00;
}
.tm-red.acchead:hover, .tm-red.acchead:focus {
    background-color: #FF3300;
}
.tm-red.acchead:focus {
    border-color: #1B69FF;
    box-shadow: #1B69FF 0px 0px 0px 1px;
}
.tm-red.acchead.expanded {
    background-color: #E12D00
}
#tooltip.tm-red {
    background-color: #E12D00;
}
#tooltip.tooltip-r.tm-red::after {
    border-right-color: #E12D00;
}
#tooltip.tooltip-l.tm-red::after {
    border-left-color: #E12D00;
}
#tooltip.tooltip-t.tm-red::after {
    border-top-color: #E12D00;
}
#tooltip.tooltip-b.tm-red::after {
    border-bottom-color: #E12D00;
}
.note-box.tm-red {
    border-color: #AD2300;
    border-left-color: #E12D00
}


/* green */
button.tm-green, .button.tm-green, .tm-green[type="button"], .tm-green[type="reset"], .tm-green[type="submit"] {
    border: 1px solid #0D2119;
    background-color: #328264;
}
button.tm-green:hover:not(:disabled):not(:active), .button.tm-green:hover:not(:disabled):not(:active), .tm-green[type="button"]:hover:not(:disabled):not(:active), .tm-green[type="reset"]:hover:not(:disabled):not(:active), .tm-green[type="submit"]:hover:not(:disabled):not(:active) {
    background-color: #3C9C78
}
button.tm-green:focus:not(:disabled):not(:active), .button.tm-green:focus:not(:disabled):not(:active), .tm-green[type="button"]:focus:not(:disabled):not(:active), .tm-green[type="reset"]:focus:not(:disabled):not(:active), .tm-green[type="submit"]:focus:not(:disabled):not(:active) {
    background-color: #3C9C78
}
button.tm-green:active, .button.tm-green:active, .tm-green[type="button"]:active, .tm-green[type="reset"]:active, .tm-green[type="submit"]:active {
    background-color: #28664E
}
:checked+.toggle-left.tm-green::before, :checked+.toggle-right.tm-green::before, .tm-green :checked+.radiobox {
    background-color: #328264;
}
.tm-green .tabhead {
    border: 1px solid #0D2119;
    background-color: #328264;
}
.tm-green .tabbody {
    border: 1px solid #0D2119;
}
.tm-green .tabhead:not(.selected):hover {
    background-color: #3C9C78;
}
.tm-green.acchead {
    border: 1px solid #0D2119;
    background-color: #328264;
}
.tm-green.acchead:hover, .tm-green.acchead:focus {
    background-color: #3C9C78;
}
.tm-green.acchead:focus {
    border-color: #1B69FF;
    box-shadow: #1B69FF 0px 0px 0px 1px;
}
.tm-green.acchead.expanded {
    background-color: #328264
}
#tooltip.tm-green {
    background-color: #328264;
}
#tooltip.tooltip-r.tm-green::after {
    border-right-color: #328264;
}
#tooltip.tooltip-l.tm-green::after {
    border-left-color: #328264;
}
#tooltip.tooltip-t.tm-green::after {
    border-top-color: #328264;
}
#tooltip.tooltip-b.tm-green::after {
    border-bottom-color: #328264;
}
.note-box.tm-green {
    border-color: #28664E;
    border-left-color: #328264
}


/* blue */
button.tm-blue, .button.tm-blue, .tm-blue[type="button"], .tm-blue[type="reset"], .tm-blue[type="submit"] {
    border: 1px solid #071D40;
    background-color: #1B69FF;
}
button.tm-blue:hover:not(:disabled):not(:active), .button.tm-blue:hover:not(:disabled):not(:active), .tm-blue[type="button"]:hover:not(:disabled):not(:active), .tm-blue[type="reset"]:hover:not(:disabled):not(:active), .tm-blue[type="submit"]:hover:not(:disabled):not(:active) {
    background-color: #2487FF
}
button.tm-blue:focus:not(:disabled):not(:active), .button.tm-blue:focus:not(:disabled):not(:active), .tm-blue[type="button"]:focus:not(:disabled):not(:active), .tm-blue[type="reset"]:focus:not(:disabled):not(:active), .tm-blue[type="submit"]:focus:not(:disabled):not(:active) {
    border-color: #E12D00;
    box-shadow: #E12D00 0px 0px 0px 1px;
    background-color: #2487FF
}
button.tm-blue:active, .button.tm-blue:active, .tm-blue[type="button"]:active, .tm-blue[type="reset"]:active, .tm-blue[type="submit"]:active {
    border-color: #E12D00;
    box-shadow: #E12D00 0px 0px 0px 1px;
    background-color: #1553BF
}
:checked+.toggle-left.tm-blue::before, :checked+.toggle-right.tm-blue::before, .tm-blue :checked+.radiobox {
    background-color: #1B69FF;
}
:focus+.toggle-left.tm-blue::after, :focus+.toggle-right.tm-blue::after, .tm-blue :focus+.radiobox {
    border-color: #E12D00;
    box-shadow: #E12D00 0px 0px 0px 1px;
}
.tm-blue .tabhead {
    border: 1px solid #071D40;
    background-color: #1B69FF;
}
.tm-blue .tabbody {
    border: 1px solid #071D40;
}
.tm-blue .tabhead:not(.selected):hover {
    background-color: #2487FF;
}
.tm-blue.acchead {
    border: 1px solid #071D40;
    background-color: #1B69FF;
}
.tm-blue.acchead:hover, .tm-blue.acchead:focus {
    background-color: #2487FF;
}
.tm-blue.acchead:focus {
    border-color: #E12D00;
    border-color: #E12D00;
    box-shadow: #E12D00 0px 0px 0px 1px;
}
.tm-blue.acchead.expanded {
    background-color: #1B69FF
}
#tooltip.tm-blue {
    background-color: #1B69FF;
}
#tooltip.tooltip-r.tm-blue::after {
    border-right-color: #1B69FF;
}
#tooltip.tooltip-l.tm-blue::after {
    border-left-color: #1B69FF;
}
#tooltip.tooltip-t.tm-blue::after {
    border-top-color: #1B69FF;
}
#tooltip.tooltip-b.tm-blue::after {
    border-bottom-color: #1B69FF;
}
.note-box.tm-blue {
    border-color: #1553BF;
    border-left-color: #1B69FF
}


/* yellow */
button.tm-yellow, .button.tm-yellow, .tm-yellow[type="button"], .tm-yellow[type="reset"], .tm-yellow[type="submit"] {
    border: 1px solid #332315;
    background-color: #FFBF54;
}
button.tm-yellow:hover:not(:disabled):not(:active), .button.tm-yellow:hover:not(:disabled):not(:active), .tm-yellow[type="button"]:hover:not(:disabled):not(:active), .tm-yellow[type="reset"]:hover:not(:disabled):not(:active), .tm-yellow[type="submit"]:hover:not(:disabled):not(:active) {
    background-color: #FFDF54
}
button.tm-yellow:focus:not(:disabled):not(:active), .button.tm-yellow:focus:not(:disabled):not(:active), .tm-yellow[type="button"]:focus:not(:disabled):not(:active), .tm-yellow[type="reset"]:focus:not(:disabled):not(:active), .tm-yellow[type="submit"]:focus:not(:disabled):not(:active) {
    background-color: #FFDF54
}
button.tm-yellow:active, .button.tm-yellow:active, .tm-yellow[type="button"]:active, .tm-yellow[type="reset"]:active, .tm-yellow[type="submit"]:active {
    background-color: #CF8F54
}
:checked+.toggle-left.tm-yellow::before, :checked+.toggle-right.tm-yellow::before, .tm-yellow :checked+.radiobox {
    background-color: #FFBF54;
}
.tm-yellow .tabhead {
    border: 1px solid #332315;
    background-color: #FFBF54;
}
.tm-yellow .tabbody {
    border: 1px solid #332315;
}
.tm-yellow .tabhead:not(.selected):hover {
    background-color: #FFDF54;
}
.tm-yellow.acchead {
    border: 1px solid #332315;
    background-color: #FFBF54;
}
.tm-yellow.acchead:hover, .tm-yellow.acchead:focus {
    background-color: #FFDF54;
}
.tm-yellow.acchead.expanded {
    background-color: #FFBF54
}
#tooltip.tm-yellow {
    background-color: #FFBF54;
    color: #000000;
}
#tooltip.tooltip-r.tm-yellow::after {
    border-right-color: #FFBF54;
}
#tooltip.tooltip-l.tm-yellow::after {
    border-left-color: #FFBF54;
}
#tooltip.tooltip-t.tm-yellow::after {
    border-top-color: #FFBF54;
}
#tooltip.tooltip-b.tm-yellow::after {
    border-bottom-color: #FFBF54;
}
.note-box.tm-yellow {
    border-color: #CF8F54;
    border-left-color: #FFBF54
}





/*
**
** table
**
*/
table {
    margin: .5em 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse
}
caption {
    padding: 0px 18px 9px
}
th {
    font-weight: bold
}
th, td {
    padding: 9px 18px;
    border-width: 4px;
    border-style: solid;
    border-color: #FFFFFF
}
tr:nth-child(even) td {
    background-color: #EFEFEF
}
tr:nth-child(odd) td {
    background-color: #DBDBDB
}
th, tfoot td {
    background-color: #767676
}





/*
**
** form
**
*/


/* container */
fieldset, legend {
    padding: 9px 18px 18px;
    border: 1px solid #1F1F1F;
    border-radius: 4px;
    background-color: #FFFFFF;
}
legend {
    padding: 9px 18px;
}


/* button */
button, .button, [type="button"], [type="reset"], [type="submit"] {
    vertical-align: middle;
    padding: .5em 1em;
    border: 1px solid #1F1F1F;
    border-radius: 4px;
    outline: none;
    background-color: #FFFFFF;
    font-size: 1em;
    line-height: 1em;
    cursor: pointer
}
button:hover:not(:disabled):not(:active), .button:hover:not(:disabled):not(:active), [type="button"]:hover:not(:disabled):not(:active), [type="reset"]:hover:not(:disabled):not(:active), [type="submit"]:hover:not(:disabled):not(:active) {
    background-color: #8A8A8A
}
button:focus:not(:disabled):not(:active), .button:focus:not(:disabled):not(:active), [type="button"]:focus:not(:disabled):not(:active), [type="reset"]:focus:not(:disabled):not(:active), [type="submit"]:focus:not(:disabled):not(:active) {
    border-color: #1B69FF;
    box-shadow: #1B69FF 0px 0px 0px 1px;
    background-color: #8A8A8A
}
button:active, .button:active, [type="button"]:active, [type="reset"]:active, [type="submit"]:active {
    border-color: #1B69FF;
    box-shadow: #1B69FF 0px 0px 0px 1px;
    background-color: #5C5C5C
}
.input-btn {
    vertical-align: middle;
    padding: 4px 1em;
    height: 35px;
    border: none;
    border: 1px solid #1F1F1F;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-radius: 0;
    outline: none;
    font-size: 1rem;
    line-height: 1em
}
.input-btn:hover {
    border-top-color: #8A8A8A;
    border-right-color: #8A8A8A;
    border-left-color: #8A8A8A;
}
.input-btn:focus {
    border: 1px solid #1B69FF;
    box-shadow: #1B69FF 0px 0px 0px 1px
}


/* input */
textarea:hover:not(:focus)+.input-btn, [type="text"]:hover:not(:focus)+.input-btn, [type="search"]:hover:not(:focus)+.input-btn, [type="tel"]:hover:not(:focus)+.input-btn, [type="url"]:hover:not(:focus)+.input-btn, [type="email"]:hover:not(:focus)+.input-btn, [type="password"]:hover:not(:focus)+.input-btn, [type="number"]:hover:not(:focus)+.input-btn {
    border-top-color: #8A8A8A;
    border-right-color: #8A8A8A;
    border-left-color: #8A8A8A;
    background-color: #8A8A8A
}
textarea:focus+.input-btn, [type="text"]:focus+.input-btn, [type="search"]:focus+.input-btn, [type="tel"]:focus+.input-btn, [type="url"]:focus+.input-btn, [type="email"]:focus+.input-btn, [type="password"]:focus+.input-btn, [type="number"]:focus+.input-btn {
    border-bottom: 1px solid #1B69FF;
    box-shadow: #1B69FF 0px 1px;
}
textarea, [type="text"], [type="search"], [type="tel"], [type="url"], [type="email"], [type="password"], [type="number"] {
    vertical-align: middle;
    margin: 9px 0;
    padding: 0 .5rem;
    padding-top: 4px;
    width: 9em;
    height: 35px;
    border: none;
    border-bottom: 1px solid #1F1F1F;
    outline: none;
    font-size: 1em;
    line-height: 1em
}
textarea {
    display: block;
    overflow: auto;
    width: 100%;
    resize: none;
    line-height: 1.5em
}
.not-auto-resize {
    resize: vertical
}
textarea:hover:not(:focus), [type="text"]:hover:not(:focus), [type="search"]:hover:not(:focus), [type="tel"]:hover:not(:focus), [type="url"]:hover:not(:focus), [type="email"]:hover:not(:focus), [type="password"]:hover:not(:focus), [type="number"]:hover:not(:focus) {
    background-color: #DBDBDB
}
textarea:focus, [type="text"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="url"]:focus, [type="email"]:focus, [type="password"]:focus, [type="number"]:focus {
    border-bottom: 1px solid #1B69FF;
    box-shadow: #1B69FF 0px 1px;
}
select {
    padding: 4px 0;
    border: 1px solid #1F1F1F;
    border-radius: 4px;
    outline: none;
    font-size: 1em;
    cursor: pointer
}
select:hover:not(:disabled), select:focus {
    background-color: #DBDBDB
}
select:active {
    background-color: #1F1F1F
}
select:focus {
    border-color: #1B69FF;
    box-shadow: #1B69FF 0px 0px 0px 1px
}
optgroup {
    background-color: #DBDBDB
}
option {
    background-color: #FFFFFF
}
:disabled, .disabled {
    opacity: .5
}
:disabled:hover, .disabled:hover {
    cursor: not-allowed
}

/* input checkbox & radio*/
[type="checkbox"], [type="radio"] {
    position: absolute;
    left: -100vw;
    opacity: 0;
}
[class*="checkbox-"], [class*="radio-"], [class*="toggle-"], .radiobox {
    position: relative;
    white-space: nowrap
}
.radiobox {
    padding: .25em 1em;
    border: .1em solid #1F1F1F;
    background-color: #FFFFFF;
    cursor: pointer
}
.radiobox:not(:nth-child(2)) {
    margin-left: -.1em
}
.checkbox-left, .radio-left{
    padding-left: 1.5em
}
.checkbox-right, .radio-right{
    padding-right: 1.5em
}
.toggle-left {
    padding-left: 2.9em
}
.toggle-right {
    padding-right: 2.9em
}
[class*="checkbox-"]::before, [class*="radio-"]::before, [class*="toggle-"]::before {
    position: absolute;
    top: 0;
    width: 1.2em;
    height: 1.2em;
    border: .1em solid #1F1F1F;
    background-color: #FFFFFF;
    content: '';
    cursor: pointer
}
[class*="toggle-"]::before {
    width: 2.4em;
    border-radius: .6em;
    background-color: #DBDBDB;
}
[class*="checkbox-"]::before {
    border-radius: 4px;
}
[class*="radio-"]::before {
    border-radius: 50%;
}
[class*="checkbox-"]::after, [class*="radio-"]::after, [class*="toggle-"]::after {
    position: absolute;
    top: 0;
    opacity: 0;
    content: "";
    cursor: pointer
}
[class*="toggle-"]::after {
    width: 1.2em;
    height: 1.2em;
    border: .1em solid #1F1F1F;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 1
}
[class*="checkbox-"]::after {
    width: 1.2em;
    height: .6em;
    border-bottom: .3em solid #1F1F1F;
    border-left: .3em solid #1F1F1F;
    transform: translate(0%, 35%) rotate(-45deg);
}
[class*="radio-"]::after {
    width: .6em;
    height: .6em;
    border: .3em solid #1F1F1F;
    border-radius: 50%;
}
.checkbox-left::before, .checkbox-left::after, .radio-left::before, .radio-left::after, .toggle-left::before, .toggle-left::after {
    left: 0
}
.checkbox-right::before, .checkbox-right::after, .radio-right::before, .radio-right::after, .toggle-right::before, .toggle-right::after {
    right: 0
}
.toggle-right::after {
    transform: translate(-100%, 0);
}
.radio-left::after {
    transform: translate(50%, 50%);
}
.radio-right::after {
    transform: translate(-50%, 50%);
}
:focus+.checkbox-left::before, :focus+.checkbox-right::before, :focus+.radio-left::before, :focus+.radio-right::before, :focus+.toggle-left::after, :focus+.toggle-right::after, :focus+.radiobox {
    border-color: #1B69FF;
    box-shadow: #1B69FF 0px 0px 0px 1px
}
:focus+.radiobox {
    z-index: 1
}
:checked+.checkbox-left::after, :checked+.radio-left::after {
    left: 0;
    opacity: 1;
}
:checked+.checkbox-right::after, :checked+.radio-right::after {
    right: 0;
    opacity: 1;
}
:checked+.toggle-left::before, :checked+.toggle-right::before, :checked+.radiobox {
    background-color: #767676;
}
:checked+.toggle-left::after {
    transform: translate(100%, 0);
}
:checked+.toggle-right::after {
    transform: translate(0, 0);
}





/*
**
** note box
**
*/

.note-box {
    display: block;
    margin: 1em 0;
    padding: 10px 20px;
    padding-left: 10px;
    border: 1px solid #1F1F1F;
    border-left-width: 10px;
    border-radius: 4px;
    text-indent: 10px
}






/*
**
** plugin
**
*/


/* tab-panel */
[role="tablist"] {
    white-space: nowrap
}
.tabhead {
    display: inline-block;
    margin-bottom: -1px;
    padding: .25em 1em;
    border: 1px solid #1F1F1F;
    border-radius: 4px 4px 0px 0px;
    background-color: #767676;
    outline: none;
    cursor: pointer
}
.tabbody {
    display: none;
    padding: 9px 18px;
    border: 1px solid #1F1F1F;
    border-radius: 4px;
    background-color: #FFFFFF
}
.tabhead.selected {
    border-bottom-color: #FFFFFF;
    background-color: #FFFFFF;
    cursor: default
}
.tabbody.selected {
    display: block
}
.tabhead:not(.selected):hover {
    background-color: #8A8A8A;
}
.tabhead:focus {
    border-color: #1B69FF;
    box-shadow: #1B69FF 0px 0px 0px 1px
}


/* accordion */
.acchead {
    display: block;
    position: relative;
    margin: 9px 0;
    padding: .25em 1em;
    border: 1px solid #1F1F1F;
    border-radius: 4px;
    background-color: #FFFFFF;
    outline: none;
    cursor: pointer
}
.acchead:hover, .acchead:focus {
    background-color: #8A8A8A;
}
.acchead::after {
    position: absolute;
    top: 50%;
    right: 1em;
    width: .7em;
    height: .7em;
    border: .2em solid transparent;
    border-top-color: #1F1F1F;
    border-left-color: #1F1F1F;
    border-radius: 4px;
    transform: translate(0%, -50%) rotate(-45deg);
    content: ''
}
.accbody {
    display: none;
    margin-top: -9px;
    padding: 9px 18px;
    border: 1px solid #1F1F1F;
    border-top-width: 0px;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF
}
.acchead.expanded {
    border-radius: 4px 4px 0px 0px ;
    background-color: #767676
}
.acchead.expanded::after {
    transform: translate(0%, -50%) rotate(-135deg);
}
.accbody.expanded {
    display: block
}


/* drop menu */
.menubar {
    white-space: nowrap
}
.menubar, .menubar ul {
    display: inline-block;
    z-index: 1;
    padding-left: 0;
    background-color: #FFFFFF;
    list-style: none
}
.menubar li {
    display: block;
    position: relative;
    margin-top: -1px;
    outline: none;
    white-space: nowrap
}
.menubar li>*:not(ul) {
    border: 1px solid transparent;
    outline: none;
}
.menubar li:hover>*:not(ul), .menubar li:focus>*:not(ul), .menubar a:focus, .menubar .expanded {
    background-color: #DBDBDB;
}
.menubar li>:first-child {
    display: block;
    padding: .5em 1em;
}
.menubar>li {
    display: inline-block;
}
[class*='drop-']>ul {
    position: absolute;
}
.drop-tl>ul {
    bottom: 100%;
    right: 0;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    transform: translate(0, 1px) scale(0); /* FOR IE9 */
    transform: translate(0, 1px) scale(0) rotateX(90deg)
}
.expanded.drop-tl>ul {
    transform: translate(0, 1px) scale(1); /* FOR IE9 */
    transform: translate(0, 1px) scale(1) rotateX(0deg)
}
.drop-tr>ul {
    bottom: 100%;
    left: 0;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    transform: translate(0, 1px) scale(0); /* FOR IE9 */
    transform: translate(0, 1px) scale(0) rotateX(90deg)
}
.expanded.drop-tr>ul {
    transform: translate(0, 1px) scale(1); /* FOR IE9 */
    transform: translate(0, 1px) scale(1) rotateX(0deg)
}
.drop-bl>ul {
    top: 100%;
    right: 0;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    transform: translate(0, 0) scale(0); /* FOR IE9 */
    transform: translate(0, 0) scale(0) rotateX(90deg)
}
.expanded.drop-bl>ul {
    transform: translate(0, 0) scale(1); /* FOR IE9 */
    transform: translate(0, 0) scale(1) rotateX(0deg)
}
.drop-br>ul {
    top: 100%;
    left: 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    transform: translate(0, 0) scale(0); /* FOR IE9 */
    transform: translate(0, 0) scale(0) rotateX(90deg)
}
.expanded.drop-br>ul {
    transform: translate(0, 0) scale(1); /* FOR IE9 */
    transform: translate(0, 0) scale(1) rotateX(0deg)
}
.drop-rt>ul {
    bottom: 0;
    left: 100%;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    transform: translate(-1px, 0) scale(0); /* FOR IE9 */
    transform: translate(-1px, 0) scale(0) rotateX(90deg)
}
.expanded.drop-rt>ul {
    transform: translate(-1px, 0) scale(1); /* FOR IE9 */
    transform: translate(-1px, 0) scale(1) rotateX(0deg)
}
.drop-rb>ul {
    top: 0;
    left: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    transform: translate(-1px, 1px) scale(0); /* FOR IE9 */
    transform: translate(-1px, 1px) scale(0) rotateX(90deg)
}
.expanded.drop-rb>ul {
    transform: translate(-1px, 1px) scale(1); /* FOR IE9 */
    transform: translate(-1px, 1px) scale(1) rotateX(0deg)
}
.drop-lt>ul {
    bottom: 0;
    right: 100%;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    transform: translate(1px, 0) scale(0); /* FOR IE9 */
    transform: translate(1px, 0) scale(0) rotateX(90deg)
}
.expanded.drop-lt>ul {
    transform: translate(1px, 0) scale(1); /* FOR IE9 */
    transform: translate(1px, 0) scale(1) rotateX(0deg)
}
.drop-lb>ul {
    top: 0;
    right: 100%;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    transform: translate(1px, 1px) scale(0); /* FOR IE9 */
    transform: translate(1px, 1px) scale(0) rotateX(90deg)
}
.expanded.drop-lb>ul {
    transform: translate(1px, 1px) scale(1); /* FOR IE9 */
    transform: translate(1px, 1px) scale(1) rotateX(0deg)
}
.menubar [class*='drop-t']>:first-child, .menubar [class*='drop-r']>:first-child, .menubar [class*='drop-b']>:first-child {
    padding-right: 2.5em;
}
.menubar [class*='drop-l']>:first-child {
    padding-left: 2.5em;
}
[class*='drop-']::after {
    position: absolute;
    top: 50%;
    width: .7em;
    height: .7em;
    border: .2em solid transparent;
    border-radius: 4px;
    border-top-color: inherit;
    border-left-color: inherit;
    content: ''
}
[class*='drop-t']::after {
    right: 1em;
    transform: translate(0%, -50%) rotate(45deg);
}
[class*='drop-r']::after {
    right: 1em;
    transform: translate(0%, -50%) rotate(135deg);
}
[class*='drop-b']::after {
    right: 1em;
    transform: translate(0%, -50%) rotate(-135deg);
}
[class*='drop-l']::after {
    left: 1em;
    transform: translate(0%, -50%) rotate(-45deg);
}


/* tooltip */
#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: .25em .5em;
    border-radius: 4px;
    background-color: #767676;
    color: #FFFFFF
}
#tooltip:not([class*="tooltip-"]) {
    opacity: 0
}
#tooltip[class*="tooltip-"]:after {
    position: absolute;
    border: 9px solid transparent;
    content: ''
}
#tooltip.tooltip-r::after {
    top: 50%;
    left: 0;
    border-right-color: #767676;
    transform: translate(-100%, -50%);
}
#tooltip.tooltip-l::after {
    top: 50%;
    left: 100%;
    border-left-color: #767676;
    transform: translate(0, -50%);
}
#tooltip.tooltip-t::after {
    top: 100%;
    left: 50%;
    border-top-color: #767676;
    transform: translate(-50%, 0);
}
#tooltip.tooltip-b::after {
    top: 0;
    left: 50%;
    border-bottom-color: #767676;
    transform: translate(-50%, -100%);
}


/* layer popup */
.popup-active {
    overflow: hidden
}
body.popup-active::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    content: ''
}
.popup-box {
    display: none;
    position: fixed;
    z-index: 5;
    outline: none;
}
.popup-box.popuped {
    display: block
}


/* slider */
.slide-box {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 100%;
    max-height: 56.25%;
    background-color: #DBDBDB;
    overflow: hidden;
}
.slide-box>ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.slide-item {
    width: inherit;
    height: inherit;
    transform: translate(0%, 0%);
    white-space: nowrap;
}
.slide-item>li {
    display: inline-block;
    width: inherit;
    height: inherit
}
[class*="slide-btn-"] {
    position: absolute
}
.slide-btn-prne {
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
}
.slide-btn-prne>li {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: rgba(0, 0, 0, .25);
    color: #FFFFFF;
    transform: translate(0, -50%);
    cursor: pointer
}
.slide-btn-prne>li:hover {
    background-color: rgba(0, 0, 0, .75);
}
.slide-btn-prne>li::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border: .3em solid #FFFFFF;
    border-top: none;
    border-right: none;
    content: ''
}
.slide-btn-prne>li:first-child {
    float: left
}
.slide-btn-prne>li:first-child::after {
    transform: translate(-25%, -50%) rotate(45deg);
}
.slide-btn-prne>li:last-child {
    float: right
}
.slide-btn-prne>li:last-child::after {
    transform: translate(-75%, -50%) rotate(-135deg);
}
.slide-btn-goto {
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    transform: translate(0, -2em);
    white-space: nowrap
}
.slide-btn-goto>li {
    display: inline-block;
    margin: 0 .5em;
    width: 1.2em;
    height: 1.2em;
    border: .2em solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer
}
.slide-btn-goto>li.selected, .slide-btn-goto>li:hover {
    background-color: #FFFFFF
}
.slide-btn-play {
    top: 0;
    left: 100%;
    width: 2em;
    height: 2em;
    background-color: rgba(0, 0, 0, .3);
    transform: translate(-100%, 0);
    cursor: pointer
}
.slide-btn-play:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border: .5em solid #FFFFFF;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-75%, -50%) rotate(-45deg);
    content: '';
    cursor: pointer
}
.slide-btn-play:hover {
    background-color: rgba(0, 0, 0, .7);
}
.played ~ .slide-btn-play:after  {
    border: .4em solid #FFFFFF;
    border-top: none;
    border-bottom: none;
    transform: translate(-50%, -50%) rotate(0deg);
}





/*
**
** default style
**
*/


/* font-size */
h1, .fs-h1 {
    font-size: 3rem;
    font-weight: bold
}
h2, .fs-h2 {
    font-size: 2.4rem;
    font-weight: bold
}
h3, .fs-h3, caption {
    font-size: 1.95rem;
    font-weight: bold
}
h4, .fs-h4, legend {
    font-size: 1.5rem;
    font-weight: bold
}
h5, .fs-h5 {
    font-size: 1.2rem;
    font-weight: bold
}
h6, .fs-h6 {
    font-size: .9rem;
    font-weight: bold
}
.fs-xl {
    font-size: 1.6rem
}
.fs-l {
    font-size: 1.3rem
}
.fs-n {
    font-size: 1rem
}
.fs-s {
    font-size: .8rem
}
.fs-xs {
    font-size: .6rem
}
.fs-none {
    position: absolute;
    font-size: 0px
}
.ta-l {
    text-align: left
}
.ta-c {
    text-align: center
}
.ta-r {
    text-align: right
}
.ta-j {
    text-align: justify
}
.tt-c {
    text-transform: capitalize
}
.tt-u {
    text-transform: uppercase
}
.tt-l {
    text-transform: lowercase
}
.tt-n {
    text-transform: none
}


/* font color */
.col-black {
    color: #000000!important
}
.col-white {
    color: #FFFFFF!important
}
.col-red {
    color: #E12D00!important
}
.col-green {
    color: #328264!important
}
.col-blue {
    color: #1B69FF!important
}


/* background-color */
.bg-black {
    background-color: #000000
}
.bg-white {
    background-color: #FFFFFF
}
.bg-red {
    background-color: #E12D00
}
.bg-green {
    background-color: #328264
}
.bg-blue {
    background-color: #1B69FF
}
.bg-yellow {
    background-color: #FFBF54
}


/* size etc */
.input-btn.fs-xl, textarea.fs-xl, [type="text"].fs-xl, [type="search"].fs-xl, [type="tel"].fs-xl, [type="url"].fs-xl, [type="email"].fs-xl, [type="password"].fs-xl, [type="number"].fs-xl {
    height: 47px
}
.input-btn.fs-l, textarea.fs-l, [type="text"].fs-l, [type="search"].fs-l, [type="tel"].fs-l, [type="url"].fs-l, [type="email"].fs-l, [type="password"].fs-l, [type="number"].fs-l {
    height: 41px
}
.input-btn.fs-n, textarea.fs-n, [type="text"].fs-n, [type="search"].fs-n, [type="tel"].fs-n, [type="url"].fs-n, [type="email"].fs-n, [type="password"].fs-n, [type="number"].fs-n {
    height: 35px
}
.input-btn.fs-s, textarea.fs-s, [type="text"].fs-s, [type="search"].fs-s, [type="tel"].fs-s, [type="url"].fs-s, [type="email"].fs-s, [type="password"].fs-s, [type="number"].fs-s {
    height: 29px
}
.input-btn.fs-xs, textarea.fs-xs, [type="text"].fs-xs, [type="search"].fs-xs, [type="tel"].fs-xs, [type="url"].fs-xs, [type="email"].fs-xs, [type="password"].fs-xs, [type="number"].fs-xs {
    height: 25px
}


/* Etc */
.ls-n {
    padding-left: 0;
    list-style: none;
}
.box {
    border: 1px solid #1F1F1F;
    border-radius: 4px
}
.content-padding {
    padding: 1em 2em
}